<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{ 'agency.name' | translate }}</th>
        <th scope="col">{{ 'agency.phone' | translate }}</th>
        <th scope="col">{{ 'agency.email' | translate }}</th>
        <th scope="col">{{ 'agency.address' | translate }}</th>
        <th scope="col">{{ 'agency.options' | translate }}</th>
      </tr>
    </thead>
    <tr *ngFor="let agency of agencies">
      <td>{{ agency.name}}</td>
      <td>{{ agency.phone }}</td>
      <td>{{ agency.email }}</td>
      <td>{{ agency.address }}</td>
      <td>
        <button type="button" class="btn btn-dark" (click)="OnUpdateClicked(agency)">{{ 'agency.update' | translate }}</button>
        <button type="button" class="btn btn-dark" (click)="openModal(template)">{{ 'agency.delete' | translate }}</button>

        <ng-template #template>
          <div class="modal-body text-center">
            <p>{{ 'agency.delete-warning' | translate:{'agency.name':agency.name} }}</p>
            <button type="button" class="btn btn-default" (click)="confirmDeleteModal(agency)">{{ 'agency.yes' | translate }}</button>
            <button type="button" class="btn btn-primary" (click)="decline()">{{ 'agency.no' | translate }}</button>
          </div>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
<div>
  <button routerLink="/agency/Add" class="btn btn-dark">{{ 'agency.add' | translate }}</button>
</div>
